doc/20.機能設計/060_設計補足資料/外部システムからの受領/業務チーム/20160601受領/FileWSService.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d.
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.presentation.fua.ctc_g.co.jp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.presentation.fua.ctc_g.co.jp/" name="FileWSService">
<types>
<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d.
-->
<xsd:schema xmlns:ns0="http://ws.presentation.fua.ctc_g.co.jp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.presentation.fua.ctc_g.co.jp/">
<xsd:complexType name="createFileAccessSession">
<xsd:sequence>
<xsd:element name="businessFileId" type="xsd:string" minOccurs="0"/>
<xsd:element name="userId" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createFileAccessSessionResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createFileRegisterSession">
<xsd:sequence>
<xsd:element name="businessFileId" type="xsd:string" minOccurs="0"/>
<xsd:element name="userId" type="xsd:string" minOccurs="0"/>
<xsd:element name="issuanceUserId" type="xsd:string" minOccurs="0"/>
<xsd:element name="issuanceCompanyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="issuanceDeptId" type="xsd:string" minOccurs="0"/>
<xsd:element name="searchPhrase" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createFileRegisterSessionResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="findFileStatus">
<xsd:sequence>
<xsd:element name="businessFileId" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="findFileStatusResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateFileAuth">
<xsd:sequence>
<xsd:element name="businessFileId" type="xsd:string" minOccurs="0"/>
<xsd:element name="bpmsIssuanceId" type="xsd:string" minOccurs="0"/>
<xsd:element name="fileAuthStatus" type="xsd:string" minOccurs="0"/>
<xsd:element name="authUserIdArray" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateFileAuthResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateKeyword">
<xsd:sequence>
<xsd:element name="businessFileId" type="xsd:string" minOccurs="0"/>
<xsd:element name="keywordArray" type="ns0:fileKeyword" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="updateKeywordResponse"/>
<xsd:complexType name="fileKeyword">
<xsd:sequence>
<xsd:element name="name" type="xsd:string" minOccurs="0"/>
<xsd:element name="value" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="createFileAccessSession" type="ns0:createFileAccessSession"/>
<xsd:element name="createFileAccessSessionResponse" type="ns0:createFileAccessSessionResponse"/>
<xsd:element name="createFileRegisterSession" type="ns0:createFileRegisterSession"/>
<xsd:element name="createFileRegisterSessionResponse" type="ns0:createFileRegisterSessionResponse"/>
<xsd:element name="findFileStatus" type="ns0:findFileStatus"/>
<xsd:element name="findFileStatusResponse" type="ns0:findFileStatusResponse"/>
<xsd:element name="updateFileAuth" type="ns0:updateFileAuth"/>
<xsd:element name="updateFileAuthResponse" type="ns0:updateFileAuthResponse"/>
<xsd:element name="updateKeyword" type="ns0:updateKeyword"/>
<xsd:element name="updateKeywordResponse" type="ns0:updateKeywordResponse"/>
</xsd:schema>
</types>
<message name="findFileStatus">
<part name="parameters" element="tns:findFileStatus"/>
</message>
<message name="findFileStatusResponse">
<part name="parameters" element="tns:findFileStatusResponse"/>
</message>
<message name="updateKeyword">
<part name="parameters" element="tns:updateKeyword"/>
</message>
<message name="updateKeywordResponse">
<part name="parameters" element="tns:updateKeywordResponse"/>
</message>
<message name="updateFileAuth">
<part name="parameters" element="tns:updateFileAuth"/>
</message>
<message name="updateFileAuthResponse">
<part name="parameters" element="tns:updateFileAuthResponse"/>
</message>
<message name="createFileRegisterSession">
<part name="parameters" element="tns:createFileRegisterSession"/>
</message>
<message name="createFileRegisterSessionResponse">
<part name="parameters" element="tns:createFileRegisterSessionResponse"/>
</message>
<message name="createFileAccessSession">
<part name="parameters" element="tns:createFileAccessSession"/>
</message>
<message name="createFileAccessSessionResponse">
<part name="parameters" element="tns:createFileAccessSessionResponse"/>
</message>
<portType name="FileWS">
<operation name="findFileStatus">
<input wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/findFileStatusRequest" message="tns:findFileStatus"/>
<output wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/findFileStatusResponse" message="tns:findFileStatusResponse"/>
</operation>
<operation name="updateKeyword">
<input wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/updateKeywordRequest" message="tns:updateKeyword"/>
<output wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/updateKeywordResponse" message="tns:updateKeywordResponse"/>
</operation>
<operation name="updateFileAuth">
<input wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/updateFileAuthRequest" message="tns:updateFileAuth"/>
<output wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/updateFileAuthResponse" message="tns:updateFileAuthResponse"/>
</operation>
<operation name="createFileRegisterSession">
<input wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/createFileRegisterSessionRequest" message="tns:createFileRegisterSession"/>
<output wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/createFileRegisterSessionResponse" message="tns:createFileRegisterSessionResponse"/>
</operation>
<operation name="createFileAccessSession">
<input wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/createFileAccessSessionRequest" message="tns:createFileAccessSession"/>
<output wsam:Action="http://ws.presentation.fua.ctc_g.co.jp/FileWS/createFileAccessSessionResponse" message="tns:createFileAccessSessionResponse"/>
</operation>
</portType>
<binding name="FileWSPortBinding" type="tns:FileWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFileStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateKeyword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFileAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFileRegisterSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFileAccessSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FileWSService">
<port name="FileWSPort" binding="tns:FileWSPortBinding">
<soap:address location="http://localhost:7001/file-upload-app/FileWSService"/>
</port>
</service>
</definitions>