doc/20.機能設計/060_設計補足資料/外部システムへの提供/BPMSチーム/20151225提供/requestResultTransmission.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="pjnavi" targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/requestResultTransmission" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pjnavi.ctc-g.co.jp/schema/external/requestResultTransmission" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/requestResultTransmission">
			<xsd:complexType name="getResultTransferInformation">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getResultTransferInformation" type="tns:getResultTransferInformation"/>
			<xsd:complexType name="resultTransferInformation_NN">
				<xsd:sequence>
					<xsd:element name="totalAmount" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getResultTransferInformationResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
					<xsd:element name="resultTransferInformation" type="tns:resultTransferInformation_NN"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getResultTransferInformationResponse" type="tns:getResultTransferInformationResponse"/>
		</xsd:schema>
	</types>
	<message name="getResultTransferInformationRequest">
		<part element="tns:getResultTransferInformation" name="getResultTransferInformation"/>
	</message>
	<message name="getResultTransferInformationResponse">
		<part element="tns:getResultTransferInformationResponse" name="getResultTransferInformationResponse"/>
	</message>
	<portType name="pjnaviPort">
		<operation name="getResultTransferInformation">
			<input message="tns:getResultTransferInformationRequest"/>
			<output message="tns:getResultTransferInformationResponse"/>
		</operation>
	</portType>
	<binding name="pjnaviSoapBinding" type="tns:pjnaviPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getResultTransferInformation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="pjnaviService">
		<port binding="tns:pjnaviSoapBinding" name="pjnaviPort">
			<soap:address location="http://131.248.147.215:80/soap/pjnavi/requestresulttransmission"/>
		</port>
	</service>
</definitions>
