doc/20.機能設計/060_設計補足資料/外部システムへの提供/BPMSチーム/20160421提供/developmentComplete.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="pjnavi" targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/developmentComplete" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pjnavi.ctc-g.co.jp/schema/external/developmentComplete" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/developmentComplete">
			<xsd:complexType name="notifyBack">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyBack" type="tns:notifyBack"/>
			<xsd:complexType name="notifyBackResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyBackResponse" type="tns:notifyBackResponse"/>
			<xsd:complexType name="notifyConfirmation">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyConfirmation" type="tns:notifyConfirmation"/>
			<xsd:complexType name="notifyConfirmationResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyConfirmationResponse" type="tns:notifyConfirmationResponse"/>
			<xsd:complexType name="notifyReject">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyReject" type="tns:notifyReject"/>
			<xsd:complexType name="notifyRejectResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyRejectResponse" type="tns:notifyRejectResponse"/>
			<xsd:complexType name="notifySalesRequest">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="developmentCompleteNo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifySalesRequest" type="tns:notifySalesRequest"/>
			<xsd:complexType name="notifySalesRequestResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifySalesRequestResponse" type="tns:notifySalesRequestResponse"/>
			<xsd:complexType name="notifySalesRequestCancel">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="developmentCompleteNo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifySalesRequestCancel" type="tns:notifySalesRequestCancel"/>
			<xsd:complexType name="notifySalesRequestCancelResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifySalesRequestCancelResponse" type="tns:notifySalesRequestCancelResponse"/>
		</xsd:schema>
	</types>
	<message name="notifyBackRequest">
		<part element="tns:notifyBack" name="notifyBack"/>
	</message>
	<message name="notifyBackResponse">
		<part element="tns:notifyBackResponse" name="notifyBackResponse"/>
	</message>
	<message name="notifyConfirmationRequest">
		<part element="tns:notifyConfirmation" name="notifyConfirmation"/>
	</message>
	<message name="notifyConfirmationResponse">
		<part element="tns:notifyConfirmationResponse" name="notifyConfirmationResponse"/>
	</message>
	<message name="notifyRejectRequest">
		<part element="tns:notifyReject" name="notifyReject"/>
	</message>
	<message name="notifyRejectResponse">
		<part element="tns:notifyRejectResponse" name="notifyRejectResponse"/>
	</message>
	<message name="notifySalesRequestCancelRequest">
		<part element="tns:notifySalesRequestCancel" name="notifySalesRequestCancel"/>
	</message>
	<message name="notifySalesRequestCancelResponse">
		<part element="tns:notifySalesRequestCancelResponse" name="notifySalesRequestCancelResponse"/>
	</message>
	<message name="notifySalesRequestRequest">
		<part element="tns:notifySalesRequest" name="notifySalesRequest"/>
	</message>
	<message name="notifySalesRequestResponse">
		<part element="tns:notifySalesRequestResponse" name="notifySalesRequestResponse"/>
	</message>
	<portType name="pjnaviPort">
		<operation name="notifyConfirmation">
			<input message="tns:notifyConfirmationRequest"/>
			<output message="tns:notifyConfirmationResponse"/>
		</operation>
		<operation name="notifyReject">
			<input message="tns:notifyRejectRequest"/>
			<output message="tns:notifyRejectResponse"/>
		</operation>
		<operation name="notifySalesRequest">
			<input message="tns:notifySalesRequestRequest"/>
			<output message="tns:notifySalesRequestResponse"/>
		</operation>
		<operation name="notifyBack">
			<input message="tns:notifyBackRequest"/>
			<output message="tns:notifyBackResponse"/>
		</operation>
		<operation name="notifySalesRequestCancel">
			<input message="tns:notifySalesRequestCancelRequest"/>
			<output message="tns:notifySalesRequestCancelResponse"/>
		</operation>
	</portType>
	<binding name="pjnaviSoapBinding" type="tns:pjnaviPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="notifyConfirmation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyReject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifySalesRequest">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyBack">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifySalesRequestCancel">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="pjnaviService">
		<port binding="tns:pjnaviSoapBinding" name="pjnaviPort">
			<soap:address location="http://131.248.147.215:80/soap/pjnavi/developmentcomplete"/>
		</port>
	</service>
</definitions>
