doc/20.機能設計/060_設計補足資料/外部システムへの提供/BPMSチーム/20160524提供/leadShipStart.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="pjnavi" targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/leadShipStart" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pjnavi.ctc-g.co.jp/schema/external/leadShipStart" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema targetNamespace="http://pjnavi.ctc-g.co.jp/schema/external/leadShipStart">
			<xsd:complexType name="notifyBack">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyBack" type="tns:notifyBack"/>
			<xsd:complexType name="notifyBackResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyBackResponse" type="tns:notifyBackResponse"/>
			<xsd:complexType name="notifyConfirmation">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyConfirmation" type="tns:notifyConfirmation"/>
			<xsd:complexType name="notifyConfirmationResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyConfirmationResponse" type="tns:notifyConfirmationResponse"/>
			<xsd:complexType name="notifyPullback">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyPullback" type="tns:notifyPullback"/>
			<xsd:complexType name="notifyPullbackResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyPullbackResponse" type="tns:notifyPullbackResponse"/>
			<xsd:complexType name="notifyReject">
				<xsd:sequence>
					<xsd:element name="companySeg" type="xsd:string"/>
					<xsd:element name="primaryKey" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyReject" type="tns:notifyReject"/>
			<xsd:complexType name="notifyRejectResponse">
				<xsd:sequence>
					<xsd:element name="resultCd" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="notifyRejectResponse" type="tns:notifyRejectResponse"/>
		</xsd:schema>
	</types>
	<message name="notifyBackRequest">
		<part element="tns:notifyBack" name="notifyBack"/>
	</message>
	<message name="notifyBackResponse">
		<part element="tns:notifyBackResponse" name="notifyBackResponse"/>
	</message>
	<message name="notifyConfirmationRequest">
		<part element="tns:notifyConfirmation" name="notifyConfirmation"/>
	</message>
	<message name="notifyConfirmationResponse">
		<part element="tns:notifyConfirmationResponse" name="notifyConfirmationResponse"/>
	</message>
	<message name="notifyPullbackRequest">
		<part element="tns:notifyPullback" name="notifyPullback"/>
	</message>
	<message name="notifyPullbackResponse">
		<part element="tns:notifyPullbackResponse" name="notifyPullbackResponse"/>
	</message>
	<message name="notifyRejectRequest">
		<part element="tns:notifyReject" name="notifyReject"/>
	</message>
	<message name="notifyRejectResponse">
		<part element="tns:notifyRejectResponse" name="notifyRejectResponse"/>
	</message>
	<portType name="pjnaviPort">
		<operation name="notifyPullback">
			<input message="tns:notifyPullbackRequest"/>
			<output message="tns:notifyPullbackResponse"/>
		</operation>
		<operation name="notifyBack">
			<input message="tns:notifyBackRequest"/>
			<output message="tns:notifyBackResponse"/>
		</operation>
		<operation name="notifyReject">
			<input message="tns:notifyRejectRequest"/>
			<output message="tns:notifyRejectResponse"/>
		</operation>
		<operation name="notifyConfirmation">
			<input message="tns:notifyConfirmationRequest"/>
			<output message="tns:notifyConfirmationResponse"/>
		</operation>
	</portType>
	<binding name="pjnaviSoapBinding" type="tns:pjnaviPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="notifyPullback">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyBack">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyReject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyConfirmation">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="pjnaviService">
		<port binding="tns:pjnaviSoapBinding" name="pjnaviPort">
			<soap:address location="http://131.248.147.215:80/soap/pjnavi/leadshipstart"/>
		</port>
	</service>
</definitions>
