doc/20.機能設計/060_設計補足資料/外部システムからの受領/BPMSチーム/20151217受領/TaskESB.wsdl

<wsdl:definitions name="TaskEsbPS" targetNamespace="http://xmlns.ctc-g.co.jp/Esb/TaskEsbPS" xmlns:tns="http://xmlns.ctc-g.co.jp/Esb/TaskEsbPS" xmlns:inp1="http://TargetNamespace.com/TaskEsbRS_Operation1_request" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <plnk:partnerLinkType name="TaskEsbRS">
        <plnk:role name="TaskEsbRSProvider" portType="tns:TaskEsbRS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/TaskEsbRS_Operation1_request" targetNamespace="http://TargetNamespace.com/TaskEsbRS_Operation1_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
         <xsd:element name="taskEsbRequestMessage">
            <xsd:complexType>
               <xsd:sequence maxOccurs="unbounded">
                  <xsd:element name="sysId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20"/>
                          <xsd:minLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="processId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20"/>
                          <xsd:minLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="sourceSystemInfo">
                     <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="primaryKey">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                                   <xsd:minLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="primaryKeyValueforTaskNAVIDisplay">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                                   <xsd:minLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="primaryKeyValueforSourceSystemRun">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                                   <xsd:minLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="taskProcessingType">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20"/>
                          <xsd:minLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="taskKind">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="100"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="taskKindDetail">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="comment">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1000"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="attachedManagementInfo">
                     <xsd:complexType>
                        <xsd:sequence maxOccurs="unbounded">
                           <xsd:element name="documentId">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                                   <xsd:minLength value="1"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="attachedLinkName">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="100"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="updateUserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20"/>
                          <xsd:minLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="picUserId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="picCompany">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="4"/>
                          <xsd:minLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="picDept">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="issuanceDate">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:date">
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="followingSourceSystemInfo">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="primaryKey">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="primaryKeyValueforTaskNAVIDisplay">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="primaryKeyValueforSourceSystemRun">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="50"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="searchWord">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1000"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="urlInfo">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="displayName">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="100"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                           <xsd:element name="url">
                             <xsd:simpleType>
                               <xsd:restriction base="xsd:string">
                                   <xsd:maxLength value="500"/>
                               </xsd:restriction>
                             </xsd:simpleType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="emergencyFlag">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="bundleFlag">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
          <xsd:element name="taskEsbResponseMessage">
             <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="issuanceId">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="15"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="resultCode">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:long">
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="errorCode">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="errorMessage">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="1000"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
             </xsd:complexType>
          </xsd:element>
      <xsd:annotation xmlns="">
            <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
            <xsd:appinfo>USEHEADER=false</xsd:appinfo>
         </xsd:annotation>
      </xsd:schema>
    </wsdl:types>
    <wsdl:message name="issuance_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="issuanceMulti_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="reIssuance_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="update_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="updateMulti_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="cancel_inputMessage">
        <wsdl:part name="request" element="inp1:taskEsbRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="taskEsbResponseMessage"/>
    <wsdl:portType name="TaskEsbRS_ptt">
        <wsdl:operation name="issuance">
            <wsdl:input message="tns:issuance_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="issuanceMulti">
            <wsdl:input message="tns:issuanceMulti_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="reIssuance">
            <wsdl:input message="tns:reIssuance_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:update_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateMulti">
            <wsdl:input message="tns:updateMulti_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="cancel">
            <wsdl:input message="tns:cancel_inputMessage"/>
            <wsdl:output message="tns:taskEsbResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TaskEsbRS_ptt-binding" type="tns:TaskEsbRS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="issuance">
            <soap:operation soapAction="issuance"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="issuanceMulti">
            <soap:operation soapAction="issuanceMulti"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reIssuance">
            <soap:operation soapAction="reIssuance"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateMulti">
            <soap:operation soapAction="updateMulti"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancel">
            <soap:operation soapAction="cancel"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="taskNaviService">
        <wsdl:port name="taskNaviServiceHttpEndpoint" binding="tns:TaskEsbRS_ptt-binding">
            <http:address location="http://10.230.17.139:7003/TaskEsbWsdlProject/ProxyService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>